* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-regular.ttf"); }
body {
  font-family: 'Poppins', sans-serif;
  background-color: #3BE2F1;
  background-image: url("../images/checkered-light-emboss.png"); }

header {
  display: grid;
  grid-template-columns: 2fr 100px 3fr;
  grid-template-areas: "title logo navigation";
  grid-template-rows: 100px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25); }
  header #title {
    grid-column: title / logo;
    align-items: center;
    justify-self: end; }
    header #title h1 {
      grid-area: title;
      display: inline-block;
      vertical-align: middle;
      padding: 0 5px; }
    header #title img {
      grid-area: logo;
      height: 90%;
      padding: 5px;
      vertical-align: middle; }
  header ul {
    grid-area: navigation;
    justify-self: center;
    display: table;
    width: 85%;
    height: 100%;
    margin: auto;
    text-align: center; }
    header ul li {
      cursor: pointer;
      list-style-type: none;
      display: table-cell;
      vertical-align: middle;
      color: black;
      text-decoration: none;
      font-size: 28px;
      margin: 0 5px; }
      header ul li:hover {
        background-color: #FEDCD2; }
      header ul li a {
        color: black;
        opacity: 0.9;
        text-decoration: none;
        font-size: 28px;
        margin: 0 5px; }

/* Media queries for smaller screens - Header */
@media only screen and (max-width: 900px) {
  header {
    display: block; }
    header #title {
      width: 100%;
      justify-self: center;
      margin: auto;
      text-align: center; }
      header #title img {
        height: 80px;
        margin: auto; }
    header ul {
      width: 100%; } }
.btn {
  color: #000000;
  font-size: 26px;
  background: #FEDCD2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0 solid #FFF; }
  .btn:hover {
    cursor: pointer;
    background: #58D4FC;
    text-decoration: none; }

.main-body-home {
  display: grid;
  margin: 20px 0;
  grid-template-columns: 10px repeat(5, 1fr) 10px;
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-auto-rows: max-content;
  grid-template-areas: ". robotron-main robotron-main robotron-main robotron-side robotron-side ."; }

#robotron-main {
  grid-area: robotron-main; }
  #robotron-main img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25); }

#robotron-side {
  grid-area: robotron-side;
  height: 60%;
  font-size: 1.3em;
  padding: 7%;
  background-color: white;
  text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25); }
  #robotron-side p {
    padding-bottom: 3%; }
  #robotron-side .btn {
    margin: 20px 0;
    padding: 6% 12%; }

.body-image {
  grid-area: body-image;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  border-top: 10px solid #FEDCD2;
  border-bottom: 10px solid #FEDCD2;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25); }
  .body-image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto; }

.body-content {
  grid-row: 3 / 4;
  grid-column: 2 / 7;
  background-color: white;
  padding: 0 20px; }
  .body-content h1 {
    text-align: center;
    margin: 20px; }

#home-content {
  background-color: white;
  padding: 0 20px;
  margin-bottom: 20px; }
  #home-content h2 {
    text-align: center;
    margin: 20px; }
  #home-content #why-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto 400px;
    grid-column-gap: 50px;
    grid-template-areas: "whyus-title whyus-title whyus-title" "whyus-1 whyus-2 whyus-3"; }
    #home-content #why-us h2 {
      grid-area: whyus-title; }
    #home-content #why-us #whyus-1, #home-content #why-us #whyus-2, #home-content #why-us #whyus-3 {
      height: 100%;
      width: 100%;
      text-align: center; }
      #home-content #why-us #whyus-1 img, #home-content #why-us #whyus-2 img, #home-content #why-us #whyus-3 img {
        display: block;
        width: 10%;
        margin: 10px auto; }
    #home-content #why-us #whyus-1 {
      grid-area: whyus-1;
      border: 5px dashed rgba(4, 192, 255, 0.25); }
    #home-content #why-us #whyus-2 {
      grid-area: whyus-2;
      border: 5px dashed rgba(230, 23, 39, 0.25); }
    #home-content #why-us #whyus-3 {
      grid-area: whyus-3;
      border: 5px dashed rgba(28, 185, 114, 0.25); }
  #home-content #gallery-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-column-gap: 20px;
    align-items: center;
    grid-template-areas: "galleryp-h galleryp-h galleryp-h galleryp-h" ". . . ." "galleryp-b galleryp-b galleryp-b galleryp-b"; }
    #home-content #gallery-preview h2 {
      grid-area: galleryp-h; }
    #home-content #gallery-preview img {
      width: calc(100% - 30px);
      display: inline-block;
      margin: 5px;
      border: 10px solid #FEDCD2; }
    #home-content #gallery-preview .btn {
      grid-area: galleryp-b; }
  #home-content #testimonies {
    text-align: center; }
    #home-content #testimonies .testimo {
      width: calc(100% - 30px);
      margin: 10px 30px 30px;
      font-style: italic;
      text-align: center; }
  #home-content #home-content-bottom {
    width: 60%;
    align-self: center;
    display: block;
    margin: auto; }

/* Media queries for smaller screens - Home page */
@media only screen and (max-width: 900px) {
  .main-body-home {
    display: block;
    width: 100%; } }
/* Enrollment page styling*/
#enroll-content p {
  margin-bottom: 30px; }

/* Gallery page styling*/
#gallery-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px 20px;
  grid-auto-flow: row;
  align-items: center; }
  #gallery-content img {
    width: calc(100% - 30px);
    display: inline-block;
    margin: 5px;
    border: 10px solid #FEDCD2; }

#about-us-content #about-us-logo {
  width: calc(10% - 20px);
  margin: 0 20px 20px;
  float: left; }
#about-us-content p {
  padding: 0 10px;
  text-align: justify; }
#about-us-content #open-hours {
  clear: both;
  border-top: 3px dashed rgba(128, 128, 128, 0.25);
  border-bottom: 3px dashed rgba(128, 128, 128, 0.25);
  margin: 20px 0;
  padding: 10px 20px;
  text-align: center; }
  #about-us-content #open-hours p {
    padding-top: 10px;
    text-align: center; }
#about-us-content #staff {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px 20px;
  grid-template-areas: "staff-h staff-h staff-h staff-h staff-h" "staff1 staff2 staff3 staff4 staff5" "staff-blurb staff-blurb staff-blurb staff-blurb staff-blurb"; }
  #about-us-content #staff p {
    text-align: center; }
  #about-us-content #staff h2 {
    grid-area: staff-h;
    text-align: center; }
  #about-us-content #staff img {
    width: calc(100% - 5px);
    height: auto;
    border: 5px solid #FEDCD2;
    border-radius: 5%; }
  #about-us-content #staff #staff-blurb {
    grid-area: staff-blurb;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px; }

#contact-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 420px;
  grid-gap: 10px 0; }
  #contact-content #contact-info {
    grid-column: 1 / 2;
    border-right: 3px dashed rgba(128, 128, 128, 0.25);
    text-align: center; }
  #contact-content #inquiry {
    grid-column: 2 / 5;
    margin: 10px 10px 10px 20px; }
    #contact-content #inquiry input[type=text] {
      width: 100%;
      height: 30px;
      font-size: 18px; }
    #contact-content #inquiry textarea {
      width: 100%;
      height: 150px;
      font-size: 18px;
      font-family: 'Poppins', sans-serif; }
    #contact-content #inquiry .btn {
      margin: 10px; }
  #contact-content #map {
    grid-column: span 4;
    margin: 10px 0 10px; }
    #contact-content #map iframe {
      width: 100%;
      height: 400px; }

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "footer-left footer-left footer-middle footer-middle footer-right" "footer-bottom footer-bottom footer-bottom footer-bottom footer-bottom";
  background-color: white;
  -webkit-box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.25); }
  footer #footer-middle {
    grid-area: footer-middle;
    padding: 20px; }
    footer #footer-middle form {
      margin: 10px 0; }
    footer #footer-middle .btn {
      font-size: 22px; }
    footer #footer-middle input[type=text] {
      font-size: 22px;
      padding: 8px 20px; }
  footer #footer-left {
    grid-area: footer-left;
    padding: 20px; }
    footer #footer-left #footer-contact {
      width: 100%;
      padding: auto; }
      footer #footer-left #footer-contact p {
        display: inline-block;
        padding-right: 10px; }
        footer #footer-left #footer-contact p a {
          text-decoration: none; }
      footer #footer-left #footer-contact img {
        cursor: pointer;
        height: 50px;
        vertical-align: middle; }
  footer #footer-right {
    grid-area: footer-right;
    padding: 20px; }
    footer #footer-right ul {
      list-style-type: none;
      column-count: 2; }
      footer #footer-right ul a {
        text-decoration: none; }
        footer #footer-right ul a:hover {
          text-decoration: underline; }
  footer #footer-bottom {
    grid-area: footer-bottom;
    text-align: center;
    border-top: 3px solid rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=stylesheet.css.map */
