$primary-color: #FEDCD2;
$secondary-color: #3BE2F1;

@mixin standard-shadow {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-regular.ttf")
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $secondary-color;
  background-image: url("../images/checkered-light-emboss.png");
}

header {
  display: grid;
  grid-template-columns: 2fr 100px 3fr;
  grid-template-areas:
    "title logo navigation";
  grid-template-rows: 100px;
  background-color: white;
  @include standard-shadow;
  #title {
    grid-column: title / logo;
    align-items: center;
    justify-self: end;
    h1 {
      grid-area: title;
      display: inline-block;
      vertical-align: middle;
      padding: 0 5px;
    }
    img {
      grid-area: logo;
      height: 90%;
      padding: 5px;
      vertical-align: middle;
    }
  }
  ul {
    grid-area: navigation;
    justify-self: center;
    display: table;
    width: 85%;
    height: 100%;
    margin: auto;
    text-align: center;
    li {
      cursor: pointer;
      list-style-type: none;
      display: table-cell;
      vertical-align: middle;
      color: black;
      text-decoration: none;
      font-size: 28px;
      margin: 0 5px;
      &:hover {
        background-color: $primary-color;
      }
      a {
        color: black;
        opacity: 0.9;
        text-decoration: none;
        font-size: 28px;
        margin: 0 5px;
      }
    }
  }
}

/* Media queries for smaller screens - Header */
@media only screen and (max-width: 900px) {
  header {
    display: block;
    #title {
      width: 100%;
      justify-self: center;
      margin: auto;
      text-align: center;
      img {
        height: 80px;
        margin: auto;
      }
    }
    ul {
      width: 100%;
    }
  }
}


.btn {
  color: #000000;
  font-size: 26px;
  background: $primary-color;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0 solid #FFF;
  &:hover {
    cursor: pointer;
    background: #58D4FC;
    text-decoration: none;
  }
}

.main-body-home {
  display: grid;
  margin: 20px 0;
  grid-template-columns: 10px repeat(5, 1fr) 10px;
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-auto-rows: max-content;
  grid-template-areas:
    ". robotron-main robotron-main robotron-main robotron-side robotron-side .";
}

#robotron-main {
  grid-area: robotron-main;
  img {
    width: 100%;
    height: auto;
    @include standard-shadow;
  }
}

#robotron-side {
  grid-area: robotron-side;
  height: 60%;
  font-size: 24px;
  padding: 30px;
  background-color: white;
  text-align: center;
  @include standard-shadow;
  p {
    padding-bottom: 20px;
  }
  .btn {
    margin: 20px 0;
    padding: 20px 40px 20px 40px;
  }
}

.body-image {
  grid-area: body-image;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  border-top: 10px solid $primary-color;
  border-bottom: 10px solid $primary-color;
  @include standard-shadow;
  img {
    width: 100%;
    height: auto;
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
  }
}

.body-content {
  grid-row: 3 / 4;
  grid-column: 2 / 7;
  background-color: white;
  padding: 0 20px;
  h1 {
    text-align: center;
    margin: 20px;
  }
}

#home-content {
  background-color: white;
  padding: 0 20px;
  margin-bottom: 20px;
  h2 {
    text-align: center;
    margin: 20px;
  }
  #why-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto 400px;
    grid-column-gap: 50px;
    grid-template-areas:
      "whyus-title whyus-title whyus-title"
      "whyus-1 whyus-2 whyus-3";
    h2 {
      grid-area: whyus-title;
    }
    #whyus-1, #whyus-2, #whyus-3 {
      height: 100%;
      width: 100%;
      text-align: center;
      img {
        display: block;
        width: 10%;
        margin: 10px auto;
      }
    }
    #whyus-1 {
      grid-area: whyus-1;
      border: 5px dashed rgba(4,192,255,0.25);
    }
    #whyus-2 {
      grid-area: whyus-2;
      border: 5px dashed rgba(230,23,39,0.25);
    }
    #whyus-3 {
      grid-area: whyus-3;
      border: 5px dashed rgba(28,185,114,0.25);
    }
  }

  #gallery-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-column-gap: 20px;
    align-items: center;
    grid-template-areas:
      "galleryp-h galleryp-h galleryp-h galleryp-h"
      ". . . ."
      "galleryp-b galleryp-b galleryp-b galleryp-b";
    h2 {
      grid-area: galleryp-h;
    }
    img {
      width: calc(100% - 30px);
      display: inline-block;
      margin: 5px;
      border: 10px solid $primary-color;
    }
    .btn {
      grid-area: galleryp-b;
    }
  }
  #testimonies {
    text-align: center;
    .testimo {
      width: calc(100% - 30px);
      margin: 10px 30px 30px;
      font-style: italic;
      text-align: center;
    }
  }
  #home-content-bottom {
    width: 60%;
    align-self: center;
    display: block;
    margin: auto;
  }
}

/* Media queries for smaller screens - Home page */
@media only screen and (max-width: 900px) {
  .main-body-home {
    display: block;
    width: 100%;
  }
}


/* Enrollment page styling*/

#enroll-content {
  p {
    margin-bottom: 30px;
  }
  #enrollform {
    position: relative;
    left: 20%;
    width: 80%;
    font-size: 18px;
    form{
      background-color: $primary-color;
      width: 80%;
      p {
        padding-top: 2%;
        padding-left: 5%;
      }
    }
    table {
      width: 100%;
      tr {
        td {
          padding-left: 5%;
          padding-right: 5%;
          width: 50%;
        }
      }
      th {
        padding-top: 2%;
        padding-bottom: 2%;
      }
    }
    .tbox {
      position: relative;
      right: 0%;
      width: 80%;
      height: auto;
      padding: 10px 20px 10px 20px;
    }
    .btn {
      margin: 20px 0;
      background-color: $secondary-color;
      font-size: 18px;
      padding: 10px 20px 10px 20px;
    }
  }
}


/* Gallery page styling*/

#gallery-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px 20px;
  grid-auto-flow: row;
  align-items: center;
  img {
    width: calc(100% - 30px);
    display: inline-block;
    margin: 5px;
    border: 10px solid $primary-color;
  }
}

#about-us-content {
  #about-us-logo {
    width: calc(10% - 20px);
    margin: 0 20px 20px;
    float: left;
  }
  p{
    padding: 0 10px;
    text-align: justify;
  }
  #open-hours {
    clear: both;
    border-top: 3px dashed rgba(128,128,128,0.25);
    border-bottom: 3px dashed rgba(128,128,128,0.25);
    margin: 20px 0;
    padding: 10px 20px;
    text-align: center;
    p {
      padding-top: 10px;
      text-align: center;
    }
  }
  #staff {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px 20px;
    grid-template-areas:
      "staff-h staff-h staff-h staff-h staff-h"
      "staff1 staff2 staff3 staff4 staff5"
      "staff-blurb staff-blurb staff-blurb staff-blurb staff-blurb";
    p {
      text-align: center;
    }
    h2 {
      grid-area: staff-h;
      text-align: center;
    }
    img {
      width: calc(100% - 5px);
      height: auto;
      border: 5px solid $primary-color;
      border-radius: 5%;
    }
    #staff-blurb {
      grid-area: staff-blurb;
      text-align: center;
      font-style: italic;
      margin-bottom: 20px;
    }
  }
}

#contact-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 420px;
  grid-gap: 10px 0;
  #contact-info {
    grid-column: 1 / 2;
    border-right: 3px dashed rgba(128,128,128,0.25);
    text-align: center;
  }
  #inquiry {
    grid-column: 2 / 5;
    margin: 10px 10px 10px 20px;
    input[type=text] {
      width: 100%;
      height: 30px;
      font-size: 18px;
    }
    textarea {
      width: 100%;
      height: 150px;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
    }
    .btn {
      margin: 10px;
    }
  }
  #map {
    grid-column: span 4;
    margin: 10px 0 10px;
    iframe {
      width: 100%;
      height: 400px;
    }
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "footer-left footer-left footer-middle footer-middle footer-right"
    "footer-bottom footer-bottom footer-bottom footer-bottom footer-bottom";
  background-color: white;
  -webkit-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
  #footer-middle {
    grid-area: footer-middle;
    padding: 20px;
    form {
      margin: 10px 0;
    }
    .btn {
      font-size: 22px;
    }
    input[type=text] {
      font-size: 22px;
      padding: 8px 20px;
    }
  }
  #footer-left {
    grid-area: footer-left;
    padding: 20px;
    #footer-contact {
      width: 100%;
      padding: auto;
      p {
        display: inline-block;
        padding-right: 10px;
        a {
          text-decoration: none;
        }
      }
      img {
        cursor: pointer;
        height: 50px;
        vertical-align: middle;
      }
    }
  }
  #footer-right {
    grid-area: footer-right;
    padding: 20px;
    ul {
      list-style-type: none;
      column-count: 2;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  #footer-bottom {
    grid-area: footer-bottom;
    text-align: center;
    border-top: 3px solid rgba(0,0,0,0.1);
  }
}
