* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-regular.ttf")
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #3BE2F1;
}

header {
  display: grid;
  grid-template-columns: 2fr 100px 3fr;
  grid-template-areas:
    "title logo navigation";
  grid-template-rows: 100px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  #title {
    grid-column: title / logo;
    align-items: center;
    justify-self: end;
    h1 {
      grid-area: title;
      display: inline-block;
      vertical-align: middle;
      padding: 0 5px;
    }
    img {
      grid-area: logo;
      height: 90%;
      padding: 5px;
      vertical-align: middle;
    }
  }
  ul {
    grid-area: navigation;
    justify-self: center;
    display: table;
    width: 85%;
    margin: auto;
    text-align: center;
    li {
      list-style-type: none;
      display: table-cell;
      &:hover {
        background-color: #FEDCD2;
      }
      a {
        color: black;
        opacity: 0.9;
        text-decoration: none;
        font-size: 28px;
        margin: 0 5px;

      }
    }
  }
}

.btn {
  color: #000000;
  font-size: 26px;
  background: #FEDCD2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0 solid #FFF;
  &:hover {
    background: #58D4FC;
    text-decoration: none;
  }
}

.main-body {
  display: grid;
  grid-template-columns: 10px repeat(5, 1fr) 10px;
  grid-column-gap: 10px;
  grid-template-rows: 20px auto 20px;
  grid-auto-rows: max-content;
  grid-template-areas:
    ". . . . . . ."
    ". robotron-main robotron-main robotron-main robotron-side robotron-side ."
    ". . . . . . .";
}

#robotron-main {
  grid-area: robotron-main;
  img {
    width: 100%;
    height: auto;
  }
}

#robotron-side {
  grid-area: robotron-side;
  height: auto;
  padding: 30px;
  background-color: white;
  text-align: justify;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 60px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "footer-left footer-left footer-middle footer-middle footer-right"
    "footer-bottom footer-bottom footer-bottom footer-bottom footer-bottom";
  background-color: white;
  -webkit-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
  #footer-middle {
    grid-area: footer-middle;
    padding: 20px;
    form {
      margin: 10px 0;
    }
    .btn {
      font-size: 22px;
    }
    input[type=text] {
      font-size: 22px;
      padding: 8px 20px;
    }
  }
  #footer-left {
    grid-area: footer-left;
    padding: 20px;
    #footer-contact {
      width: 50%;
      margin: auto;
      p {
        display: inline-block;
        padding-right: 10px;
        a {
          text-decoration: none;
        }
      }
      img {
        height: 50px;
        vertical-align: middle;
      }
    }
  }
  #footer-right {
    grid-area: footer-right;
    padding: 20px;
    ul {
      list-style-type: none;
      column-count: 2;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  #footer-bottom {
    grid-area: footer-bottom;
    text-align: center;
    border-top: 3px solid rgba(0,0,0,0.1);
  }
}
