* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-regular.ttf")
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #3BE2F1;
}

header {
  display: grid;
  grid-template-columns: 2fr 100px 3fr;
  grid-template-areas:
    "title logo navigation";
  grid-template-rows: 100px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  #title {
    grid-column: title / logo;
    align-items: center;
    justify-self: end;
    h1 {
      grid-area: title;
      display: inline-block;
      vertical-align: middle;
      padding: 0 5px;
    }
    img {
      grid-area: logo;
      height: 90%;
      padding: 5px;
      vertical-align: middle;
    }
  }
  ul {
    grid-area: navigation;
    justify-self: center;
    display: table;
    width: 85%;
    margin: auto;
    text-align: center;
    li {
      list-style-type: none;
      display: table-cell;
      &:hover {
        background-color: #FEDCD2;
      }
      a {
        color: black;
        opacity: 0.9;
        text-decoration: none;
        font-size: 28px;
        margin: 0 5px;

      }
    }
  }
}

.main-body {
  display: grid;
  grid-template-columns: 10px repeat(5, 1fr) 10px;
  grid-column-gap: 10px;
  grid-template-rows: 20px auto 20px;
  grid-auto-rows: max-content;
  grid-template-areas:
    ". . . . . . ."
    ". robotron-main robotron-main robotron-main robotron-side robotron-side ."
    ". . . . . . .";
}

#robotron-main {
  grid-area: robotron-main;
  img {
    width: 100%;
    height: auto;
  }
}

#robotron-side {
  grid-area: robotron-side;
  padding: 30px;
  background-color: white;
  text-align: justify;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px;
  grid-template-areas:
    "footer-left footer-left footer-right footer-right footer-right";
  background-color: white;
  -webkit-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.25);
}
